html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
section, article, header, footer, time,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-size: 100%;*/
  vertical-align: baseline;
  background: transparent;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Display block per gli elementi HTML5 su IE */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* Immagini responsive */

img {
  max-width:100%;
  border:0;
  vertical-align:middle;
  -ms-interpolation-mode:bicubic;
}

.inline-block {display:inline-block;zoom:1;*display:inline;}
.v-a-middle {vertical-align:middle}


.terminal {
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    margin: 0;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    overflow: auto;
  }
  .terminal::selection {
    background: #0080ff;
    text-shadow: none;
  }
  .terminal pre {
    margin: 0;
  }

  #table-data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #table-data td,
  #table-data th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table-data tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #table-data tr:hover {
    background-color: #ddd;
  }

  #table-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    color: white;
  }